*{
    box-sizing: border-box;
}

.box {
    border: 4px solid lightblue;
    width: 100px;
    height: 100px;
}

.box-small {
    height: 50px;
    width: 50px;
}

.container {
    border: 4px solid black;
    display: flex;
    justify-content: space-between;
    padding:20px;
}

.container2 {
    border: 4px solid black;
    padding: 20px 20px 0 20px;
}

.container3 {
    border: 4px solid black;
    padding: 5%;
    display: flex;
}

.boxwrapper {

}

.box3 {
    border: 4px solid orange;
    width: 50%;
}

.row {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.title {
    border: solid grey;
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
}

#minicon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box2 {
    border: solid black;
    width: calc(85%/3);
    height: 150px;
    margin-bottom: 30px;
}

.spacer {
    height:70px;
}

#adjust {
    display: flex;
    width: 240px;
    justify-content: space-around;
    align-items: center;
}